.error {
	display: block;
	color: red;
	padding-top: 2px;
	padding-bottom: 5px;
}
/* Tamaño para formulario de añadir juego */
.custom-container {
	width: 60%;
}
/* Zebra table */
tr:nth-child(even) {
	background-color: #f2f2f2
}

/* Trunca textos muy largos */
.iffyTip {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.hideText{
  max-width:200px;
}


/* Mensaje de información */
.info {
  padding: 20px;
  background-color: #46a3ff;
  color: white;
}
/* Botón para cerrar mensajes */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
